


.contenedor {
    width: 90%;
    max-width: 120em;
    background-color: seagreen;
    padding: 1em;
}

.contenedor .ul {
    width: 100%;
    background-color: lightcyan;
}

.contenedor .li {
    background-color: lightgreen;
}

/*
.contenedor .subcontenedor {

}

.contenedor .bloque {

}*/